In [7]:
import pandas as pd
import os
from datetime import date, timedelta

In [57]:
def get_quarter_dates(year):
    quarters = {}
    for quarter_start_month in range(1, 13, 3):
        # 第一天
        first_day = date(year, quarter_start_month, 1)
        # 最后一天
        if quarter_start_month == 10:  # 如果是第4季度
            last_day = date(year, 12, 1)
        else:
            next_month = date(year, quarter_start_month + 2, 1)
            last_day = next_month #- timedelta(days=1)
        quarters[f'Q{quarter_start_month//3+1}'] = (str(first_day), str(last_day))
    return quarters

In [45]:
data_path = '../data'
data_name = 'us_cpi_data_fred.csv'
datas = pd.read_csv(os.path.join(data_path, data_name))
datas.columns = ['date', 'cpi']
datas.set_index(['date'], inplace=True)
datas.head()

                cpi
date
2023-10-01  307.531
2023-11-01  308.024
2023-12-01  308.742
2024-01-01  309.685
2024-02-01  311.054

In [58]:
quarters_2024 = get_quarter_dates(2024)
quarters_2023 = get_quarter_dates(2023)

In [62]:
inflation_2023_Q4 = datas.loc[quarters_2023['Q4'][1], 'cpi']/datas.loc[quarters_2023['Q4'][0], 'cpi']-1
inflation_2024_Q1 = datas.loc[quarters_2024['Q1'][1], 'cpi']/datas.loc[quarters_2024['Q1'][0], 'cpi']-1
inflation_2024_Q2 = datas.loc[quarters_2024['Q2'][1], 'cpi']/datas.loc[quarters_2024['Q2'][0], 'cpi']-1
inflation_2024_Q3 = datas.loc[quarters_2024['Q3'][1], 'cpi']/datas.loc[quarters_2024['Q3'][0], 'cpi']-1
print(
    'inflation of 2023 Q4:', inflation_2023_Q4, '\n',
    'inflation of 2024 Q1:', inflation_2024_Q1, '\n',
    'inflation of 2024 Q2:', inflation_2024_Q2, '\n',
    'inflation of 2024 Q3:', inflation_2024_Q3, '\n',
)

inflation of 2023 Q4: 0.003937814399198825
 inflation of 2024 Q1: 0.008218027996189647
 inflation of 2024 Q2: -0.0005044587126086242
 inflation of 2024 Q3: 0.0036742426658671334